html, body {
	background: #fff;
	color: #333;
}
body {
	margin: 0px;
	padding: 0px;
}

/*
 * ====================  FORM ELEMENTS ===============================================
 */
input,
select,
textarea{
	padding: 0.5em;
	margin-bottom: 0.5em;
	line-height: 1.2em;

	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
	-webkit-box-shadow: 1px 1px 1px #fff;
	-webkit-border-radius: 0.5em;

	border: 1px solid #D0D0D0;
	background: #FBFBFB;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
}
.node-content input[type="text"],
.node-content input[type="submit"]{
	width: 100%;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.node-content input[type="submit"].btn-primary{
	background-color: #d85e3d;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
input[type="text"]:focus,
select:focus,
textarea:focus{	
	background: #fff;
	border: 1px solid #52A8E8;
	-webkit-box-shadow: 0 0 1px 1px #eee;
	box-shadow: 0 0 1px 1px #eee;
	-moz-box-shadow: 0 0 1px 1px #eee;
}
input[type=checkbox],
input[type=radio] {
	border: 1px solid #c0c0c0;
	margin: 0 0.1em 0 0;
	padding: 0;
	font-size: 1em;
	line-height: 1em;
	width: 1.25em;
	height: 1.25em;

	vertical-align: text-top;
	display: inline-block;

}
.side-by-side select{
	max-width: 86%;
	float: left;
	height: 3em;
	font-size: .9em;
}
.side-by-side .btn{
	margin-left: 5px;
	float: left;
	height: 2.7em;
	max-width: 37px;
	max-width: calc(15% - 5px);
	font-size: 1em;
	padding: 5px;
}
.btn~.btn{
	margin-left: 10px;
}
/*
 * ============================== Headers ===========================================
 */
 .block h4{
 	font-size: 1.3em;
 }
 .block h3{
 	font-size: 1.2em;
 }
 .block h2{
 	font-size: 1.8em;
 }
 h5.subtle{
 	color: #999;
 }
#science-header{
 	background-color: #7a8e54;
}
#about-header{
 	background-color: #4f843c;
}
#impact-header{
	background-color: #429CA5;
}
.full-width-header hgroup.panel-header {
    float: left;
    width: calc(100% - 520px);
    min-width: 400px;
    margin-left: 20px;
    color: white;
    font-weight: 300;
    font-size: 0.8em;
}
.full-width-header hgroup.panel-header h2{
	font-weight: lighter;
	line-height: 1.3em;
}
 .full-width-header img.panel-header{
	float: right;
	max-width: 499px;
}
.full-width-header .one-column .panel-separator + div{
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}
 
 /*
 * ========================================================================================
 */
a:link, a:visited, a:active, a.active, a,
li a:link, li a:visited, li a:active, li a.active, li a,
.nav li a:link, .nav li a:visited, .nav li a:active, .nav li a.active, .nav li a{
	color: #1e74b6;
	color: rgb(30, 116, 182);
}
a:hover{
	text-decoration: none;	
}
.light{
	font-weight: lighter;
	color: #FFF;
}
.light a:link, 
.light a:visited, 
.light a:active, 
.light a.active, 
.light a{
	color: rgb(139, 187, 223);
}
td, th{
	padding: .375em .5em;
}
.right{
	float: right;
}
.half{
	width: 50%;
}
.left.half{
	width: 48%;
	margin-right: 2%;
}
.left{
	float: left;
}
.centered{
	text-align: center;
}

.topalign{
	vertical-align:top;
}
.double-space-below{
	margin-bottom: 40px;
}
.img-caption{
	font-size: .8em;
	text-align: center;
}
.highlight-box{
	background-color: rgba(255, 255, 255, 0.5);
	padding: 10px; 
	border-radius: 4px; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border: 1px solid #999; 
	margin-bottom: 20px;	
}
.inline-title{
	font-weight: bold;
	display: inline;
}
/* The alert message that displays at the top of unpublished nodes */
p.unpublished{
	font-size: 1.5em;
	color: rgb(83, 0, 0);
	background-color: rgb(255, 203, 203);
	text-align: center;
}
.join-with-previous{
	margin-top: -40px;
}
#page {
	box-shadow: 0px 0px 0px black !important;
}
#columns{
	padding-top: 0px;
}
#main-content{
	margin-top: 20px;
}
#front-layout .row .span_6:nth-child(odd){
    margin-right: 2%;
}
#front-layout .row .span_6:nth-child(even){
	margin-right: 0px;
}
#front-layout .row .span_6{
    width: 48.5%;
}
.full-width .columns-inner,
.full-width #main-content,
.full-width-header .columns-inner,
.full-width-header #main-content{
 	max-width: 100%;
 	margin: 0px;
 }
.full-width-header .two-66-33 .region-two-66-33-first{
	margin-left: 20%;
	width: 60%;
	width: calc(46.66% - 41px);
	max-width: 700px;
}
.full-width-header .two-66-33 .region-two-66-33-second{
	max-width: 300px;
}
.full-width .two-66-33 .region-two-66-33-first{
	margin-left: 40px;
	width: 60%;
	width: calc(66.66% - 41px);	
}
.field-name-field-subtitle{
	font-size: 1.5em;
	font-weight: lighter;
	line-height: 2em;
	margin-bottom: 20px;
}
.field-name-field-fr-pi{
	line-height: 3em;
	font-size: 1.1em;
	font-weight: lighter;
}
.inner-container{
	max-width: 960px;
	margin: 0 auto;
}
#top > .container{
	overflow: hidden;
}
#top input {
	float: right;
	clear: right;
	cursor: pointer;
	display: block;
	width: 210px;
	margin: 0px;
	padding: 5px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-color: #999;
}
#top input[type=search] { 
	float: right;
	clear: right;
	cursor: pointer;
	display: block;
	width: 210px;
	margin: 0px;
	padding: 5px;
}
#top {
	background-color: #F6FBFF;
	width: 100%;
	margin: 0px;
	padding: 0px;
	position: relative;
	z-index: 5;
}
#top form {
	margin: 0px;
}

.node .node-content{
	margin-top: 0px;
}
#main-content.inner-container{
	margin: 0 auto;
}	
#main-content .block-inner {
	margin: 0;
}
.bodyHead {
	width: 100%;
	margin: 0px auto;
	padding: 0px;
}
.bodyHead img.logo {
	line-height: 0px;
	display: block;
	float: left;
}
.subscribe {
	float: right;
	font-size: 12px;
	line-height: 17px;
}
.subscribe .icon{
	font-size: 2em;
  	color: rgb(83, 136, 177);
}
.subscribe .icon:hover{
	color: rgb(37, 117, 179);
}
.subscribe img.icon{
	vertical-align: top;
}
#nceas-menu #menu-bar {
	background-color: #2D5370;
	min-height: 0px;
}
#nceas-menu #menu-bar ul.menu {
	margin: 0px auto;
	max-width: 960px;
	padding: 0px;
	clear: both;
	white-space: nowrap;
}
#nceas-menu #menu-bar ul.menu li {
	list-style-type: none;
	display: inline-block;
	margin-right: 1%;
}
#nceas-menu #menu-bar ul.menu li:last-child {
	margin-right: 0px;
}
#nceas-menu #menu-bar ul.menu li a {
	display: block;
	text-align: center;
	padding: 6px 15px;
	text-decoration: none;
	color: #fff;
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 1em;
	line-height: 1.2em;
	position: relative;
	z-index: 0;
}
/**
#nceas-menu #menu-bar ul li:nth-child(1) {
	width: 10.2%;
}
#nceas-menu #menu-bar ul li:nth-child(2) {
	width: 13.5%;
}
#nceas-menu #menu-bar ul li:nth-child(3) {
	width: 11.7%;
}
#nceas-menu #menu-bar ul li:nth-child(4) {
	width: 14.1%;
}
#nceas-menu #menu-bar ul li:nth-child(5) {
	width: 12.1%;
}
#nceas-menu #menu-bar ul li:nth-child(6) {
	width: 18.3%;
}
#nceas-menu #menu-bar ul li:nth-child(7) {
	width: 14%;
}
*/
#nceas-menu #menu-bar ul.menu li a:hover, #nceas-menu #menu-bar ul.menu li a.active {
	/*background-image: url(/files/images/greenBox.png);
	background-repeat: no-repeat;*/
	background-color: #4888B9;
}

.region-header #block-search-form{
	clear: left;
	margin: 0px;
}
#block-search-form .form-wrapper, #block-search-form .form-actions {
	display: none;
}
.site-logo{
	height: 95px;
}

#nceas-header .block-inner {
	background: none;
}
.bodyContent ul {
	list-style: none;
	margin: 0px;
}
.mainContent {
	float: left;
	border-right: #aab090 1px solid;
}
.quickNav {
	height: 55px;
	margin-top: 10px;
	margin-bottom: 15px;
}
.quickNav .hoverBox {
	height: 55px;
	z-index: 5;
	position: relative;
}


.quickNav .hoverBox a {
	display: block;
	font-size: 1.5em;
	font-weight: lighter;
	text-align: center;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	padding: 10px;
}
.quickNav .blue a  {
	/*background-image: url(../images/blueBox.jpg);*/
}
.quickNav .orange a {
	/*background-image: url(../images/darkOrangeBox.jpg);*/
}
.quickNav .green a {
	/*background-image: url(../images/greenBox.jpg);*/
}
.quickNav .description {
	margin: 0px;
	color: #fff;
	background-color: #75903b;
	width: 100%;
	padding: 60px 20px 0px 15px;
	overflow: hidden;
	right: 0px;
	position: absolute;
	top: -6px;
	z-index: -1;
	height: 0;
	border-radius: 4px;
}
.quickNav .orange .description {
	background-color: #f37229;
}
.quickNav .green .description {
	background-color: #6fbca4;
}
.quote .field-content{
	background-image: url(/files/typography/quote_open_bg.png);
	background-repeat: no-repeat;
}
.quote .quote-content{
   font-size: 1.5em;
   line-height: 1.5em;
   text-align: left;
   font-weight: 300;
}
.quote .quote-credit{
   clear: both;
   float: right;
   margin-top: 10px;
   font-size: .8em;
   font-style: normal;
   font-family: sans-serif;
}
.videos ul li {
	font-size: 14px;
	border-bottom: #a4c717 1px solid;
	padding: 7px 0px;
}
.videos ul li a {
	color: #333;
	text-decoration: none;
}

.videos ul {
	margin: 0px;
	padding: 0px;
}
.videos h3 {
	
}
.videos .archive a {
	font-size: 14px;
	color: #8a3d2c;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
.siteNav {
	clear: both;
	margin: 15px 0px;
	padding: 24px 0px;
	border-top: #aab090 1px solid;
	border-bottom: #aab090 1px solid;
}
.siteNav ul {
	float: left;
	display: block;
	padding: 0px;
	margin: 0px;
	width: 135px;
	margin-right: 26px;
	font-size: 13px;
}
.siteNav ul:last-child {
	margin-right: 0px;
}
.siteNav ul li {
	padding: 2px 0px;
}
.siteNav ul li:first-child {
	font-weight: bold !important;
	font-size: 14px;
	padding: 3px 0px;
}
.siteNav ul li:first-child a {
	font-weight: bold !important;
}
.siteNav ul li a {
	text-decoration: none;
	color: #717367;
}

.navbar-nav{
	background-color: #f2eee9;
	margin-bottom: 20px;
	margin-left: 15%;
	border-radius: 4px;
}
.navbar-nav li a,
.navbar-nav li a:visited,
.navbar-nav li a:link,
.navbar-nav li a:active{
	font-weight: bold;
	color: #8c8a87;
}
/* The default style */
.view-header .navbar-nav.SNAP .default,
.view-header .navbar-nav.Informatics .default{
	background-color: #f2eee9;	
	color: #8c8a87;
}
/* The hover style */
.view-header .navbar-nav li a:hover{
	background-color: #2D5370;
	color: #FFF;
	transition: all .5s;
}
/* The active style */
.view-header .navbar-nav .default,
.view-header .navbar-nav.SNAP .snap-proj,
.view-header .navbar-nav.Informatics .info-proj{
	background-color: #8c8a87;
	color: #FFF;
}
#sidebar .panel-pane {
	font-size: 14px;
}
#sidebar .panel-pane:last-child {
	border-bottom: none;
}
#sidebar .block{
	margin-bottom: 40px;
}
#sidebar .block-content .menu {
	margin: 0;
}
#sidebar .block-content .menu li {
	list-style: none;
}
.underlined li a, .underlined .views-row a {
	text-decoration: none;
	border-bottom: #CCC 1px solid;
	display: block;
	padding: 7px 0;
}

.announcement {
	display: block;
	min-height: 120px;
	padding: 0;
}
.announcement p {
	margin-left: 15px;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
}
.announcement a:link,
.announcement a:visited,
.announcement a:active {
	color: #8a3d2c;
	text-decoration: none;
}
#sidebar .support {
	font-size: 14px;
	line-height: 18px;
}
#footer{
	background-color: transparent;
	background-image: none;
	margin-top: 40px;
}
#footer .block-menu-block {
	float: left;
	max-width: 155px;
}
#footer .block-menu-block h2 {
	font-size: 14px;
}
#footer .block-menu-block ul {
	margin: 0;
	font-size: 13px;
}
#footer .block-menu-block .block-inner {
	margin-left: 0;
	margin-right: 5px;
}
#footer .block-menu-block a, #footer .block-menu-block .block-title {
	color: #717367;
}
#footer #block-block-1 {
	clear: both;
}
.footer {
	margin: 0px auto;
	font-size: 12px;
	line-height: 18px;
	color: #717367;
	text-align: center;
}
.footer img {
	margin-right: 10px;
	display: inline-block;
}
.footer p {
	display: inline-block;
	text-align: left;
}
.footnote{
	font-size: .9em;
	font-style: italic;
}
#main-content .node-slideshow {
	margin-bottom: 0;
}

#main-content .node-slideshow .node-content {
	margin: 0 0 30px;
}
.view .item-list ul li {
	list-style: none;
	margin-left: 0px;
}
#content .node-teaser{
	padding: 0px;
}
.clearfix{
clear: both;
display: block;
}

/* ========= Horizontal List ========== */

[class^="horiz-list-"]{
margin-left: 0px;
}
.horiz-list-four li{
   width: calc(25% - 10px);
}
.horiz-list-two li{
   width: calc(50% - 10px);
}
.horiz-list-three li{
   width: calc(33% - 10px);
}
[class^="horiz-list-"] li{
   margin-right: 10px;
   display: inline-block;
   list-style: none;
   float: left;
}
[class^="horiz-list-"] li img{
   width: 100%;
    margin: 0px auto 10px auto;
    display: block;
}
.horiz-list-two li img{
    width: 75%;
}
.horiz-list-
[class^="horiz-list-"] li > h4{
    text-align: center;
}
/*======== Horizontal Icon List ============== */
.block .icon-list{
    clear: both;
    width: 30%;
    margin: 0 auto;
}
.icon-list li{
    font-size: 1.5em;
    width: auto;
}
.icon-list.one{
width: 30px;
}
.icon-list.two{
   width: 60px;
}
.icon-list.three{
    width: 90px;
}
.icon-list.four{
    width: 120px;
}
.team-img li > p {
  clear: both;
  font-size: .9em;
  color: #555;
}
/*======== Team Bios ============== */

.team-img img{
border-radius: 50%;
float: left;
display: inline-block;
margin-right: 20px;
margin-top: 20px;
margin-bottom: 20px;
}
.team-img h4,
.team-img h5{
     text-align: center;
     clear: both;
}
.team-img .horiz-list-three li img{
    width: 225px;
    float: none;
    margin-left: auto; margin-right: auto;
}
.team-img .horiz-list-two li img{
   width: 250px;
	float: none;
    margin-left: auto; margin-right: auto;
}

.horiz-list-two .icon-list > li img,
.horiz-list-three .icon-list > li img{
height: 1em;
  width: 1em;
  margin-top: 5px;
}
.horiz-list-three > li:nth-child(3n){
clear: right;
}
.horiz-list-three>li:nth-child(3n+1){
clear: left;
}
.accordions h5{
color: #555;
}

.hide-flexslider-nav .flex-control-nav{
     display: none;
}

/*
 * ============================== Titles =======================
 */
 .pane-title.block-title{
	font-size: 2em;
}
.block-title{
	color: #333;
}
.ptw-b #page-title,
#page-title,
h1{
	font-weight: 400;
}
.light #page-title{
	font-weight: 100;
}
.logged-in #page-title{
	margin-bottom: 10px;
}
.bta-l .block-title,
.block-title{
	margin-bottom: 10px;
	background-color: transparent;
	font-weight: 200;
	font-size: 1.7em;
}
.side-block .block-title{
	font-size: 1.2em;
}
.center-title .block-title{
	text-align: center;
}
.no-node-title .node-title{
	display: none;
}
.block-title a{
	color: inherit;
}
.sidebar .block-title{
	font-size: 1.2em;
}
.sidebar .block-content h3{
	font-size: 1em;
}
/*----------------------------------------------------------*/

tr.odd, tr.info{
	background-color: #F5F3F1;	
}

/*
 * ============================== Side Block Titles =======================
 */
.side-block .block-title {
	height: auto;
	padding: 10px 0px 10px 24px;
  	margin-top: 0;
	color: #FFF;
	background-color: #2D5370;
	background-image: none;
	border-bottom: 3px solid #6fbca4;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.side-block .block-title a {
	color: #fff;
}
.side-block .block-inner {
	margin: 0;
}
.side-block.orange .block-title{
	background-color: #FDE220;
    color: #333;
    border-bottom-color: orange;
    margin-bottom: 0px;
}
.side-block.orange .block-content,
#block-system-main .side-block.orange .block-content{
	background-color: #FFBF4B;
	padding: 20px;
	color: #333;
}
/*----------------------------------------------------------*/


/************* More Links ***************/
.more-link, 
.node-readmore > a{
	font-weight: bold;
	text-align: center;
	text-transform: capitalize;
}
.more-link a,
a.more-link,
h5.more-link,
.node-readmore > a{
	border: 1px solid #8c8a87;
	background-color: rgba(255,255,255,0.5);
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	color: #8c8a87;
	padding: 10px;
	margin-top: 10px;
	text-transform: uppercase;
	font-weight: light;
	font-size: .85em;
	display: inline-block;
}
.more-link a:hover,
a.more-link:hover,
h5.more-link:hover,
.node-readmore > a:hover{
	text-decoration: none;
	background-color: #f2eee9;
	color: #3f3e3d;
}
.blurb .more-link a:hover,
.blurb a.more-link:hover{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);	
}
.more-link-inline{
	border-bottom: 1px dashed #2D5370;
}
.more-link.full-width{
	display: block;
	clear: both;
}
/** For stand-out links **/
.more-link.important,
.more-link a.important,
.btn.important{
	color: #d85e3d;
	border-color: #d85e3d;
	font-weight: bold;
}
.more-link.important a:hover,
.more-link a.important:hover,
.btn.important:hover{
	background-color: #F7E9E6;
}
/** Inline list of links by Drupal **/
.block .links.inline {
  margin-bottom: 10px;
  display: block;
  float: right;
  clear: both;
  /* height: auto; */
  /* min-height: 1em; */
}
/******************* Buttons *********************/
a.btn{
	border: 1px solid #2D5370;
	background-color: rgba(255,255,255,0.2);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-transform: uppercase;
	font-size: .9em;
	padding: 10px;
	font-weight: bold;
}
a.btn.light,
.light a.btn{
	border-color: rgb(139, 187, 223);
	color: rgb(139, 187, 223);
}
a.btn:hover{
	color: #2D5370;
	background-color: #E9F6FF;
	background-color: rgba(55, 94, 124, 0.08);
}
a.btn.light:hover,
.light a.btn:hover{
	background-color: rgba(255,255,255,0.1);
	color: rgb(201, 232, 255);	
}
/******************* Pager *********************/
.pager li > a, 
.pager li > span{
	border-color: #2D5370;
	color: #2D5370;
	border-radius: 0px;
	border-width: 1px;
	font-weight: normal;
}
.pager li > a:hover{
	background-color: #2D5370;	
	color: #FFFFFF;
}
div.item-list ul.pager li:hover, 
div.item-list ul.pager li:focus{
	border: 0px solid transparent;	
}
/*********************************************/
/******** Flexslider CSS overrides **********/
a.flex-prev, a.flex-next{
	color: #FFFFFF;
	height: 50px;
}
.flex-text{
	background-color: #000000;
	background-color: rgba(0,0,0,0.7);
	color: #FFFFFF;
	width: 100%;
	padding: 0px 2%;
	line-height: 1.6em;
	position: absolute;
	bottom: 0;
}
.flexslider {
	margin-bottom: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
.flexslider .flex-control-nav {
	bottom: -25px;
}
.flexslider .flex-caption {
	font-size: 12px;
}
.flexslider .flex-control-paging li a.flex-active {
	background: #fff;
	border: 1px solid #75903b;
}
.flexslider .flex-control-paging li a {
	background: #333;
}
.flexslider .slides > li{
	min-height: 275px;
	overflow: hidden;
}
/******************************************/

/**
 * News and Events
 */

#news-and-events-panel {
  padding-top: 20px; 
}
#nceas-calendar {
  margin-bottom: 30px;
}
#nceas-calendar .fc-header h2 {
  color: #555;
} 

/**
 * Media
 */

.view-media .icon {
	float: left;
	margin-right: 20px;
}
.view-media .icon img {
  max-width: 50px;
  max-height: 50px;
  height: auto;
  width: auto;
  opacity: .6;
}
.view-media .icon > .caption,
.view-media .icon > a > .caption{
  position: relative;
  bottom: 0px;
  font-size: .9em;
  color: #666;
  line-height: 3em;
  text-align: center;
}
.view-media .media-youtube-video{
	margin-top: 20px;
	height: auto;
	width: 100%;
	float: none;
	clear: both;
}
.view-media .more-link{
  width: 200px;
  margin-left: auto;
  display: block;
  margin-right: auto;
  margin-top: 20px;
}
.view-media .Radio .file > a,
.view-media .Podcast .file > a, /* Don't display the bare link to the radio and podcast mp3's */
.view-media .Video .more-link { /* Don't display the Listen Now link for videos */
  display: none;
}
.vocabulary-media .field-name-field-icon figure {
  border: 0px;
}
.vocabulary-media .field-name-field-icon figure > img{
	max-width: 75px;
}
.vocabulary-media ~ .nodes .node {
  border-bottom: 1px solid #CCC;
}
#content .panel-display,
#content .panel-flexible {
	margin-left: auto;
	margin-right: auto;
}
.panel-display iframe {
  max-width: 80%;
}
.view-media .views-row {
  margin-bottom: 30px;
}
.view-media h2 {
  font-size: 1.3em;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 10px;
}
.view-header > .inline-menu .icon{
    height: 1.3em;
    display: inline;
    margin-right: 5px;
}
.view-header > .inline-menu > a{
    float: left;
    margin-right: 20px;
    line-height: 1.3em;
    height: 2em;

}
.view-header > .inline-menu{
    clear: both;
    display: block;
    float: none;
    height: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 45%;    
    margin-bottom: 20px
}
.view-display-id-page > .view-header > .inline-menu > a{
	font-size: 1.3em;
}

/* Hide the "Submitted by" information when not logged in */
.submitted {
  display: none;
}
.logged-in .submitted{
	display: block;
}
.pane-node .submitted{
	display: none;
}
/*----------------------------------------------------------*/


/*
 * ============================== Accordions =======================
 */
/** NCEAS-specific rules **/
.accordions{
	margin-bottom: 4em;
	width: 100%;
}

/** General jQueryUI customizations **/
.ui-accordion{
	width: 98%;
}
.ui-accordion-header a{
	transition: color .5s;
}
.ui-accordion .ui-icon.ui-icon-triangle-1-e{
	background-image: url("../assets/smoothness-custom/images/ui-icons_6da8d5_256x240-WHITE.png");
}
.ui-accordion-header.ui-state-default:hover .ui-icon.ui-icon-triangle-1-e{
	background-image: url("../assets/smoothness-custom/images/ui-icons_f9bd01_256x240.png");
}
.ui-accordion-header.ui-state-default:hover a,
.ui-accordion-header.ui-state-active:hover a{
	color: rgb(255, 220, 0);
}
.ui-accordion .ui-accordion-content {
	overflow: auto;
	border-radius: 0px;
	border: 0px;
	background: #f2eee9;
}
.ui-accordion .ui-accordion-header{
	padding: .5em .9em .9em .3em;
	border-radius:0px;
	border:0px;
	background-position: 0% 0%;
	max-height: 42px;
}
.ui-accordion .ui-accordion-header a{
	font-size: .8em;
}
.ui-accordion-header span{ 
	position: absolute;
}
.ui-accordion-header.ui-state-focus a,
.ui-accordion-header.ui-state-focus a:link,
.ui-accordion-header.ui-state-focus a:visited,
.ui-accordion-header.ui-state-default a,
.ui-accordion-header.ui-state-default a:link,
.ui-accordion-header.ui-state-default a:visited,
.ui-accordion-header.ui-state-hover a,
.ui-accordion-header.ui-state-hover a:link,
.ui-accordion-header.ui-state-hover a:visited,
.ui-accordion-header.ui-state-active a,
.ui-accordion-header.ui-state-active a:link,
.ui-accordion-header.ui-state-active a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
.ui-accordion-header.ui-state-focus a:hover,
.ui-accordion-header.ui-state-hover a:hover{
	color: #f9bd01;
}
.ui-accordion-header a {
	margin-left:25px;
	text-transform:uppercase;
}
.ui-accordion-content .buttonLinks{
	margin-right:5px;
	float:left;
}

/*
 * ===================================================================================
 */


/*
 * ============================== Search Results =======================
 */
.google-search-results .gss-result{
	margin: 20px 1%;
	float: left;
	padding: 1%;
	max-width: 31%;
	min-width: 275px;
	overflow: visible;
	min-height: 432px;
	overflow-wrap: break-word;
	text-overflow: ellipsis;
}
.google-search-results .gss-result:nth-child(3n){ clear: right; }
.google-search-results .gss-result:nth-child(3n+1) { clear: left; }
.google-search-results .gss-result .gss-search-snippet{
	font-size: 1em;
	line-height: 1.9em;
}
.google-search-results .gss-result .gss-title{
	font-size: 1.5em;
	line-height: 1.5em;
	margin-bottom: .5em;
}
.google-search-results .gss-result .gss-title a{
	color: inherit;
}
.gss-thumbnail-image{
	max-width: 100%;
	height: auto;
	display: block;
}
.gss-search-snippet-info{
	text-overflow: ellipsis;
	max-width: 100%;
}
.google-search-results .gss-result .gss-search-snippet-info .gss-info{
	display: none; /* Hide the user and date submitted info */
}
.gss-title b {
	background-color: rgb(255, 214, 0);
	font-weight: normal;
}
.google-search-results .gss-result .gss-search-snippet-info .gss-search-url a{
	color: #999999;
}

/*
 * ===================================================================================
 */
 
 /*
 * ========================= Sidebars, Styled like blurbs ======================================
 */
.sidebar{
 	/*background-color: #f2eee9;*/
 	padding: 10px 20px;
 	border-radius: 4px;
 	-moz-border-radius: 4px;
 	-webkit-border-radius: 4px;
 }
 .visual-aside{
 	background-color: #f2eee9;
 }
/*
 * ===================================================================================
 */
 

/*
 * ============================== Article blurbs ===========================================
 */
.blurb{
	margin-bottom: 20px;
	position: relative;
}
.blurb-image{
	margin: 0;
	display: block;
	position: relative;
}
.blurb-image img{
	width: 100%;
	height: 200px;
}
.blurb-content{
	min-height: 180px;
	padding: 20px;
	background-color: #f2eee9;
}
.blurb .category a{
	font-size: 0.9em;
	font-weight: lighter;
	text-transform: uppercase;
	color: #b5b1b1;
}
.blurb .title{
	font-size: 1.2em;
	font-weight: normal;
	line-height: 1.5em;
	margin-top: 0px;
}

.blurb .title.bold{
	font-weight: bold;
}
.blurb .over-image{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding: 20px;
	background-color: rgb(40,39,39);
	background-color: rgba(40,39,39, 0.7);
}
.blurb .over-image .category,
.blurb .over-image .category a{
	color: #b5b1b1;
	margin-bottom: -5px;
}
.blurb .over-image .title{
	color: #FFFFFF;
	font-size: 1.5em;
	font-weight: normal;
	line-height: 1.5em;
	margin-top: 0px;
	margin-bottom: 0px;
	text-transform: capatilize;
}
.blurb .over-image a{
	color: #FFFFFF;
	padding: 10px;
	display: block;
}
.blurb .button{
	border: 1px solid #8c8a87;
	color: #8c8a87;
	padding: 10px;
	margin-top: 10px;
	text-transform: uppercase;
	font-weight: light;
	font-size: .85em;
	display: inline-block;
}
.blurb .button:hover{
	text-decoration: none;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	color: #333333;
}
.blurb-fluid-col .blurb{
	margin-right: 20px;
	float: left;	
}
.blurb-two-col .blurb{
	max-width: 45%;
	max-width: calc(50% - 10px);
	float: left;
}
.blurb-two-col .blurb:nth-child(odd){
	margin-right: 20px;
}
/*
 * ===================================================================================
 */
 
 /*
 * ============================== Article Blurbs -> Three Column to Two Column (when in 33% 66% Page) ===================================
 */
 .region-two-33-66-second .panel-pane .three-col:nth-child(2n){
 	clear: right;
 }
 .region-two-33-66-second .panel-pane .three-col:nth-child(2n+1){
 	clear: left;
 }
 .region-two-33-66-second .panel-pane .three-col{
 	width: 45%;
 }
 /*
 * ===================================================================================
 */


/*
 * ============================== Featured blurbs ===========================================
 */
 .blurb.featured .blurb-image{
 	height: 45px;
 	max-width: 300px;
 	overflow-x: hidden;
 }
 .blurb.featured .blurb-image img{
 	height: 100%;
 	max-width: 940px; 
 	width: auto;
 }
 .blurb.featured .blurb-content{
 	background-color: #55702C;
 	color: #FFF;
 }
 .blurb.featured .category,
 .blurb.featured .category a{
 	color: #FFFFFF;
 }
 .blurb.featured .title,
 .blurb.featured .title a{
 	color: #FFFFFF;
 	font-size: 1.4em;
 	line-height: 1.3em;
 }
 .blurb.featured .title a:hover,
 .blurb.featured .category a:hover{
 	color: #106774;
 }
 .blurb.featured .button{
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
 }
 
/*
 * ===================================================================================
 */

/*
 * ============================== Sidebar blurbs ===========================================
 */

.mini-blurb-list{
	margin-left: 0px;
}

.mini-blurb{
	margin-left: 0px;
	margin-bottom: 20px;
	display: block;
	min-height: 115px;
}

.mini-blurb-image{
	float: left;
	width: 40%;
	margin-right: 4%;
}

.mini-blurb-image img{
	width: 100%;
	display: block;
	height: 115px;
}
.mini-blurb-list.varied-img .mini-blurb-image img,
.mini-blurb-image.varied-img img{
	max-width: 100%;
	width: auto;
	max-height: 115px;
	height: auto;
}
.mini-blurb-content{
	overflow-y: hidden;
	line-height: 1.8em;
}
.mini-blurb-content a{
	color:#1d1d1c;
}

/*
 * ===================================================================================
 */
/*
 * ============================== Highlight blocks ===========================================
 */
 .block-two-col:after{
 	clear: both;
 	flaot: none;
 }
 .highlight-block {
    min-width: 300px;
    height: 300px;
    float: left;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}
.block-two-col .highlight-block{
 	min-width: 282px;
 	width: 49%;
 	max-height: 252px;
 }
.block-two-col .highlight-block:nth-child(odd){
 	margin-right: 2%;
 }
.block-four-col .highlight-block,
.block-three-col .highlight-block{
 	margin-right: 2%;
}
.block-four-col .highlight-block:nth-child(4n),
.block-three-col .highlight-block:nth-child(3n){
	margin-right: 0%;
}
.block-four-col .highlight-block,
.block-three-col .highlight-block{
	width: 23.5%;
}
.block-three-col .highlight-block:nth-child(1){
	margin-left: 13.5%;
}
.highlight-block .block-image {
    height: 300px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}
.highlight-block .block-image img {
    min-height: 100%;
    min-width: 100%;
}
.highlight-block .block-title {
    position: absolute;
    top: 0px;
    color: white;
    background-color: rgba(44, 83, 112, 0.3);
    height: 100%;
    width: 100%;
    padding: 30px;
}
.highlight-block .block-title img {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.highlight-block .block-title h4 {
    font-weight: normal;
    font-size: .8em;
    text-align: center;
    line-height: 1.5em;
}
.highlight-block .block-title .more-link{
	position: absolute;
	bottom: 30px;
	left: 35%;
	font-size: .5em;
    color: white;
    border-color: white;
    background-color: transparent;
}
a .highlight-block:hover .more-link,
.highlight-block:hover .more-link{
	color: #FBFB78;
	border-color: #FBFB78;
}
.highlight-block.mini{
	min-width: 135px;
	height: 135px;
}
.highlight-block.mini .block-image{
	height: 100%;
}
.highlight-block.mini .block-title{
	padding: 20px;
}
.highlight-block.mini .block-title h4{
	font-size: .9em;
	margin: 0px;
}
.highlight-block.mini .block-title.single-line h4{
	margin-top: 30px;
}
.highlight-block.mini .block-title.double-line h4{
	margin-top: 15px;
}
.highlight-block.mini:hover .block-title{
	color: #FBFB78;
}

/* Vary every-other background color a bit so blocks next to each other don't blend together */
 .block-two-col .highlight-block:nth-child(n+1) .block-title{
     background-color: rgba(44, 105, 112, 0.3);
 }
 
.dynamic-sub-menu{
	max-width: 90%;
	background-color: #f2eee9;
} 
.dynamic-sub-menu h2.pane-title.block-title{
	display: none;
}
.dynamic-sub-menu .menu > .menu-depth-1 > a{
	background-color: #E2DDD6;
	padding: 0px 10px;
	margin: 0px;
	font-size: 1em;
	line-height: 2em;
	font-weight: 400;
	color: #504E4B;
	border-bottom: 1px solid #BFBAB3;
}
.dynamic-sub-menu .menu{
	margin-left: 0px;
}
.dynamic-sub-menu .menu li{
	list-style: none;
	line-height: 2em;
	font-size: 1.1em;	
	padding: 0px;
	/*border-bottom: 1px solid #D6D2CD;*/
}
.dynamic-sub-menu .menu li a{
	display: block;
	padding: 0px 10px;
	text-decoration: none;
}
.dynamic-sub-menu .menu .menu li a { /* Sub-menus */
	font-size: .9em;
	color: #2D5370;
	padding-left: 20px;
}
.dynamic-sub-menu .menu .menu li.active-sub-menu a{
	color: #FFF;
}
.dynamic-sub-menu .menu li a:hover,
.dynamic-sub-menu .menu > .active-sub-menu.menu-depth-1 > a,
.dynamic-sub-menu .active-sub-menu > a{
	background-color: #6fbca4;
	color: #FFFFFF;
	border-color: #568F7D;
}

 
 
 /*
 * ============================== Administrator / Editor Pages ===========================================
 */
 /*Edit node page*/
.node-form > div > div{
	border: 1px dashed #999;
	margin: 20px 0px 20px;
	padding: 10px 20px;
}
.vertical-tabs ul.vertical-tabs-list{
	margin: -1px 0 -1px 0;
}
/*
 * =============================================================================================
 */
 
  /*
 * ============================== Featured Research / Working Group pages ===========================================
 */
 .node-type-featured #columns{
 	min-height: 700px;
 	background-size: cover;
 }
 .node-type-featured .columns-inner{
	height: 100%;
	min-height: 700px;
	padding: 20px;
 }
  .node-type-featured.page-node-edit .columns-inner{
  	background: transparent;
  }
 .node-type-featured #page-title:before{
 	content: "Working Group";
 	display: block;
 	font-size: .5em;
 	color: #999;
 	font-style: italic;
 	margin-bottom: 5px;
 }
 .node-type-featured .light #page-title:before{
 	color: #CCC;
 }
 .node-type-featured p{
 	line-height: 1.5em;
 }
  /*
 * ======================== FLOATING TABLE OF CONTENTS ===============================================
 */
 .table-of-contents{
position: fixed;
  right: 25px;
  top: 229px;
  z-index: 5;
}
