@media all and (min-width: 970px) {
	#nceas-menu #menu-bar ul.menu li {
		width: 125px;
		margin-right: 5px
	}

	.quickNav .hoverBox a {
		font-size: 20px;
	}	

  .region-two-66-33-first {
    padding-right: 30px;
  }
}

@media all and (max-width: 969px) and (min-width: 767px) {
	.quickNav .description {
		width: 167px;
		padding: 60px 0 0 0;
	}
}
@media all and (max-width: 767px) {
	#page {
		padding: 0 10px;
	}
	#nceas-menu #menu-bar ul li {
		width: 100% !important;
		clear: both !important;
	}

	.quickNav .description {
		display: block !important;
		position: relative !important;
		height: auto !important;
		width: auto;
		padding: 15px;
	}

	.quickNav {
		height: auto;
	}

	.quickNav .hoverBox {
		height: auto;
	}

	/** Allow sidebar to collapse */
	div.sidebar {
		float: none;
		margin-left: 0;
	}

	#content-column .content-inner {	
		margin-left: 0;
	}

	#nceas-menu #menu-bar ul.menu li a, #nceas-menu #menu-bar ul.menu li a.active {
		background-image: none;
		background: #006ed6;
	}

	#nceas-menu #menu-bar ul.menu li a:hover {
		background-image: none;
		background: green;
	}

	#footer .block-menu-block {
		max-width: 100%;
		clear: both;
	}

	#footer .block-menu-block a {
		font-size: 14px;
	}
}
