/* Phones */
@media only screen and (max-width:480px), /*desktop and phones */
	   only screen and (device-aspect-ratio: 40/71) /* iPhone 5 only */
{
	.header-image{
		display: none;
	}
	
	#nceas-menu #menu-bar ul.menu li{
		width: 100%;
		margin-right: 0px;
	}
	
	#nceas-header{
		max-width: 250px;
		float: none;
		margin: 0px auto 20px auto;
	}
	 #science-header img.panel-header,
	 #science-header hgroup.panel-header{
	 	max-width: 100%;
	 	min-width: 90%;
	 }
}

/* tablet_portrait all the way up to about tablet landscape */
@media all and (min-width:481px) and (max-width: 960px) {
	/* Mini-Blurb-List in a sidebar or other narrow column */
	.region-two-66-33-second .mini-blurb-content{
		padding: 12px;
	}
	.region-two-66-33-second .mini-blurb-content a{
		font-weight: bold;
	}
	.region-two-66-33-second .mini-blurb-image{
		float: none;
		width: 100%;
		height: 115px;
		margin-right: 0px;
		overflow: hidden;
	}
	.region-two-66-33-second .mini-blurb-image img{
		width: auto;
		height: auto;
	}
	
	/* Article Blurbs in a sidebar or narrow column*/
	.region-two-66-33-first .blurb{
		width: 80%;
	}
	.region-two-66-33-first .blurb-image{
		max-height: 200px;
		width: 100%;
		overflow: hidden;
	}
	.region-two-66-33-first .blurb-image img{
		width: 100%;
		height: auto;
	}
	.region-two-66-33-first .blurb-image .over-image{
		width: 90%;
	}
}
/* tablet_portrait one_col_vert */
@media all and (min-width:481px) and (max-width: 768px) {
	#nceas-header{
		max-width: 250px;
		float: none;
		margin: 0px auto 20px auto;
	}
	#page {
		padding: 0 10px;
	}
	#nceas-menu #menu-bar ul li {
		width: 100% !important;
		clear: both !important;
	}

	.quickNav .description {
		display: block !important;
		position: relative !important;
		height: auto !important;
		width: auto;
		padding: 15px;
	}

	.quickNav {
		height: auto;
	}

	.quickNav .hoverBox {
		height: auto;
	}

	/** Allow sidebar to collapse */
	div.sidebar {
		float: none;
		margin-left: 0;
	}

	#content-column .content-inner {	
		margin-left: 0;
	}

	#nceas-menu #menu-bar ul.menu li a, #nceas-menu #menu-bar ul.menu li a.active {
		background-image: none;
		background: #2D5370;
	}

	#nceas-menu #menu-bar ul.menu li a:hover {
		background-image: none;
		background: #4888B9;
	}

	#footer{
		max-width: 960px;
		margin: 0px auto;
	}
	#footer .block-menu-block {
		max-width: 100%;
		clear: both;
	}

	#footer .block-menu-block a {
		font-size: 14px;
	}
}
/* tablet_landscape three_col_grail */
@media only screen and (min-width:768px) and (max-width:1024px) {
	.quickNav .description {
		width: 167px;
		padding: 60px 0 0 0;
	}
	.full-width-header .two-66-33 .region-two-66-33-first{
		margin-left: 40px;
		width: 60%;
		width: calc(66.66% - 41px);
	}
	.gutters .col{
		margin-right: 2%;
	}
}

/* bigscreen three_col_grail */
@media only screen and (min-width: 1024px){
	#nceas-menu #menu-bar ul.menu li {
		width: 125px;
		margin-right: 0px
	}

	.quickNav .hoverBox a {
		font-size: 20px;
	}	

  .region-two-66-33-first {
    padding-right: 30px;
  }
  .full-width-header #science-header{
  	position: relative;
  }
  .full-width-header #science-header hgroup.panel-header{
  	position: relative;
  	height: 160px;
  	z-index: 1;
  	margin-left: 30px;
  	width: 50%;
  	width: calc(100% - 500px);
  	max-width: calc(100% - 30px);
  	height: 160px;
  }
  .full-width-header #science-header img.panel-header{
  	position: absolute;
  	z-index: 0;
  	right: 0px;
  	height: 160px;
  	width: auto;
  }
}

@media only screen and (min-width: 1279px) and (max-width: 1367px){
	.full-width-header .two-66-33 .region-two-66-33-first{
		width: 60%;
		width: calc(66.66% - 41px);
		margin-left: 10%;
	}
}

@media all and (max-width: 1400px){
	.table-of-contents{
		position: relative;
		top: 0px;
	}

	.full-width-header .two-66-33 .region-two-66-33-first{
		margin-left: 20px;
		width: 85%;
		width: calc(100% - 20px);
	}
	.block-three-col .highlight-block:nth-child(1){
		margin-left: 0px;
	}	
}

