<html>
<head>
	<link href="../drupal-themes/nceas_adaptive/css/bootstrap.min.css" rel="stylesheet">
	<link href="../drupal-themes/nceas_adaptive/css/nceas_adaptive.responsive.css" rel="stylesheet">
	<link href="../drupal-themes/nceas_adaptive_files/nceas_adaptive.default.layout.css" rel="stylesheet">
	<link href="../drupal-themes/nceas_adaptive_files/nceas_adaptive.responsive.layout.css" rel="stylesheet">
	<link href="../drupal-themes/nceas_adaptive_files/nceas_adaptive.fonts.css" rel="stylesheet">
	<link href="../drupal-themes/nceas_adaptive_files/nceas_adaptive.default.layout.css" rel="stylesheet">
	<link href="../drupal-themes/nceas_adaptive/css/grid.css" rel="stylesheet">
	<link href="colors.css" rel="stylesheet">
	<link href="../drupal-themes/nceas_adaptive/css/nceas_adaptive.css" rel="stylesheet">
</head>
<h1>NCEAS Style Guide</h1>
<h2>Content blurbs</h2>
<div class="col span_4">
	<article class="blurb">
		<figure class="blurb-image">
	    	<a href="/">
	        	<img src="img/filler-300x200.png">                                           
	        </a>
	        <hgroup class="over-image">  
	    	    <h4 class="category"><a href="/">Blurb</a></h4>                        
	        	<h3 class="title"><a href="/">New opportunity to join the NCEAS Team: Scientific Programmer/Analyst</a></h3>
	        </hgroup>
	    </figure>
	    <div class="blurb-content">
	            <p>
	            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	            </p>            
	    </div>
	</article>
	</div>
<div class="col span_4">
	<article class="blurb">
		<figure class="blurb-image">
	    	<a href="/">
	        	<img src="img/filler-300x200.png">                                           
	        </a>
	        <hgroup class="over-image">  
	    	    <h4 class="category"><a href="/">Blurb</a></h4>                        
	        	<h3 class="title"><a href="/">Short title</a></h3>
	        </hgroup>
	    </figure>
	    <div class="blurb-content">
	            <p>
	            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	            </p>            
	    </div>
	</article>
</div>
<div class="col span_4">
	<article class="blurb">
		<figure class="blurb-image">
	    	<a href="/">
	        	<img src="img/filler-300x200.png">                                           
	        </a>
	        <hgroup class="over-image">  
	        	<h3 class="title"><a href="/">Single title</a></h3>
	        </hgroup>
	    </figure>
	    <div class="blurb-content">
	            <p>
	            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	            </p>            
	    </div>
	</article>
</div>
<div class="col span_4">
	<article class="blurb">
		<figure class="blurb-image">
	    	<a href="/">
	        	<img src="img/filler-300x200.png">                                           
	        </a>
	        <hgroup class="over-image">  
	    	    <h4 class="category"><a href="/">Blurb</a></h4>                        
	        	<h3 class="title"><a href="/">A content blurb with the title over the image</a></h3>
	        </hgroup>
	    </figure>
	    <div class="blurb-content">
	            <p>
	            Lorem ipsum dolor sit amet, consecteturon proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	            </p>            
	    </div>
	</article>
</div>
<div class="col span_4">
	<article class="blurb">
		<figure class="blurb-image">
	    	<a href="/">
	        	<img src="img/filler-300x200.png">                                           
	        </a>
	    </figure>
	    <div class="blurb-content">
	    	<hgroup>  
	    	    <h4 class="category"><a href="/">Blurb</a></h4>                        
	        	<h3 class="title"><a href="/">A content blurb with a regular title not over the image</a></h3>
	        </hgroup>
	            <p>
	            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	            </p>            
	    </div>
	</article>
</div>
</html>